@{
    ViewData["Title"] = "Thank you";
}
<h1>@ViewData["Title"]</h1>


<div class="jumbotron text-center">
    <div class="alert alert-success" role="alert">
        <strong>Thank you for submitting your enquiry.</strong> <br/>
    </div>
    <strong>Browse our trendy trees</strong><br />
    <a asp-controller="Products" asp-action="Index">View all products</a>
</div>